/* VC ROW
================================================== */

.neko-container{
	position: relative;
	z-index:2;
}

.wpb_row{
	background-repeat: no-repeat ;
	background-size: cover ;
	background-position: center ;
	position: relative ;
	margin-bottom: 0 !important;
}

.container-fluid.no-gutter {
	margin:0;
	padding:0;
	width: 100%;
}

.no-gutter >.vc_row > .vc_col-xs-1:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-1:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-1:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-1:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-2:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-2:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-2:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-2:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-3:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-3:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-3:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-3:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-4:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-4:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-4:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-4:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-5:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row >.vc_col-sm-5:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-5:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-5:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-6:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-6:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-6:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-6:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-7:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-7:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-7:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-7:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-8:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-8:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-8:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-8:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-9:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-9:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-9:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-9:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-10:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-10:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-10:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-10:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-11:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-11:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-11:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-11:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-xs-12:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-sm-12:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-md-12:not([class*="vc_col-md-offset-"]) .vc_column-inner,
.no-gutter >.vc_row > .vc_col-lg-12:not([class*="vc_col-md-offset-"]) .vc_column-inner {
	margin:0;
	padding:0;
}

/* override gutter (larger) */ 

.neko-container .vc_row:not(.vc_gitem_row) {
	margin-left: -22px;
	margin-right: -22px;
}

.neko-container.container-fluid .vc_row{
	margin-left: 0;
	margin-right: 0;
}

/*
.neko-container .vc_col-xs-1,
.neko-container .vc_col-sm-1,
.neko-container .vc_col-md-1,
.neko-container .vc_col-lg-1,
.neko-container .vc_col-xs-2,
.neko-container .vc_col-sm-2,
.neko-container .vc_col-md-2,
.neko-container .vc_col-lg-2,
.neko-container .vc_col-xs-3,
.neko-container .vc_col-sm-3,
.neko-container .vc_col-md-3,
.neko-container .vc_col-lg-3,
.neko-container .vc_col-xs-4,
.neko-container .vc_col-sm-4,
.neko-container .vc_col-md-4,
.neko-container .vc_col-lg-4,
.neko-container .vc_col-xs-5,
.neko-container .vc_col-sm-5,
.neko-container .vc_col-md-5,
.neko-container .vc_col-lg-5,
.neko-container .vc_col-xs-6,
.neko-container .vc_col-sm-6,
.neko-container .vc_col-md-6,
.neko-container .vc_col-lg-6,
.neko-container .vc_col-xs-7,
.neko-container .vc_col-sm-7,
.neko-container .vc_col-md-7,
.neko-container .vc_col-lg-7,
.neko-container .vc_col-xs-8,
.neko-container .vc_col-sm-8,
.neko-container .vc_col-md-8,
.neko-container .vc_col-lg-8,
.neko-container .vc_col-xs-9,
.neko-container .vc_col-sm-9,
.neko-container .vc_col-md-9,
.neko-container .vc_col-lg-9,
.neko-container .vc_col-xs-10,
.neko-container .vc_col-sm-10,
.neko-container .vc_col-md-10,
.neko-container .vc_col-lg-10,
.neko-container .vc_col-xs-11,
.neko-container .vc_col-sm-11,
.neko-container .vc_col-md-11,
.neko-container .vc_col-lg-11,
.neko-container .vc_col-xs-12,
.neko-container .vc_col-sm-12,
.neko-container .vc_col-md-12,
.neko-container .vc_col-lg-12 {
	padding-left: 22px;
	padding-right: 22px;
}
*/

.neko-container .vc_column-inner{
	padding-left: 22px;
	padding-right: 22px;
} 



/* table container */
.neko-table-container >.vc_row > div[class*="col-"] > .vc_column-inner{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	/*height:100%;*/
}


.neko-container .container{
	width: auto;
	padding-left: 0;
	padding-right: 0;
}


@media( min-width: 768px ){
	.neko-container .container .vc_row div:last-child{
		padding-bottom: 0;
	}
}

/* Bg image position system*/
.neko-bgimage-top {
	background-position: top center !important;
}
.neko-bgimage-bottom {
	background-position: bottom center  !important;
}

/* hack vc_row for safari equal height */
.vc_row.vc_row-o-equal-height:before{
	display: block;
}

/* END VC ROW
================================================== */



/* TABS
================================================== */

/*** tabs ***/

.vc_tta-style-theme.vc_tta.vc_general .vc_tta-panel-title > a {
	border-bottom: 2px solid  transparent;
	padding-left: 0;
	font-size: 1.15em;
	text-transform: uppercase;
}


.lt-ie10 .vc_tta-style-theme.vc_tta-accordion .vc_tta-panel-heading a{
	display:block !important;
}

.lt-ie10 .vc_tta-accordion .vc_tta-panel-heading a i{
	margin-right:10px;
	color:#444;
}

.vc_tta-style-theme.vc_tta.vc_general .vc_tta-panel-body {
	background-color: transparent;
	padding: 24px 0px 26px 0px;
	border: none;
}
/*.vc_tta-panel-body .wpb_content_element {
	margin-bottom: 0;
}*/
.lt-ie10 .vc_tta-style-theme.vc_tta.vc_general .vc_tta-tabs-list li{
	display: inline-block;
	padding-right:13px;
}

.lt-ie10  .vc_tta-style-theme.vc_tta-accordion a:after{
	display: : none;
}

.lt-ie10 .vc_tta.vc_general:not(.vc_tta-accordion) .vc_tta-panel,
.lt-ie10 .vc_tta-accordion .vc_tta-panel .vc_tta-panel-body, 
.lt-ie10 .vc_tta.vc_general:not(.vc_tta-accordion) .vc_tta-panel-heading{
	display:none;
}

.lt-ie10 .vc_tta.vc_general  .vc_tta-panel.vc_active,
.lt-ie10 .vc_tta.vc_general.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-body{
	display:block;
	border:none !important;
}


@media (min-width: 768px) {

	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab > a
	{
		text-transform: uppercase;
		border: none;
		padding-top: 13px;
		padding-bottom: 13px;

	}

	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab:first-child a {
		padding-left: 0;
	}

	.vc_tta-style-theme.vc_tta-tabs .vc_tta-tabs-list {
		border-bottom: 2px solid  transparent;
		overflow: visible!important;
	}


	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab {
		position:relative;
	}

	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-panel-title a:after,
	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab > a:after{
		background-color:yellow;
		content: ' '!important;
		display: block;
		width: 0;
		height: 2px!important;
		position: absolute;
		bottom: -2px;
		top:auto!important;
		left: 0!important;
		-webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
		-moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
		-o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
		transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
	}


	.vc_tta-style-theme.vc_tta.vc_general  a:hover:after,
	.vc_tta-style-theme.vc_tta.vc_general .vc_active  a:after,
	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab.vc_active > a:after{
		width:100%!important;
	}

	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-tab > a:hover:after
	{
		background-color: transparent;
	}

	.vc_tta-style-theme.vc_tta.vc_general .vc_tta-panel-body  {
		padding-bottom: 0;
	}
	/* tabs on the left */

	.vc_tta-style-theme.vc_tta-tabs-position-left.vc_tta.vc_general .vc_tta-tab > a {
		padding-left: 0;

	}

	.vc_tta-style-theme.vc_tta-tabs-position-left.vc_tta.vc_general .vc_tta-tab:first-child a {
		padding-top: 0;
	}

	.vc_tta-style-theme.vc_tta-tabs-position-left.vc_tta.vc_general .vc_tta-panel-body {
		padding: 0px 0px 26px 44px;
		border: none;
	}

	.vc_tta-style-theme.vc_tta-tabs-position-left .vc_tta-panel-title > a,
	.vc_tta-style-theme.vc_tta-tabs-position-left.vc_tta-tabs .vc_tta-tabs-list {
		border:none;
	}
	/* tabs centered */
	.vc_tta-style-theme.vc_tta-tabs.vc_tta-controls-align-center.vc_general .vc_tta-tab:first-child a {
		padding-left: 10px;
	}

	.vc_tta-style-theme.vc_tta-tabs.vc_tta-controls-align-center .vc_tta-tabs-list {
		border-bottom: none;
	}

	.vc_tta-style-theme.vc_tta.vc_general.vc_tta-controls-align-center .vc_tta-panel-title a:after,
	.vc_tta-style-theme.vc_tta.vc_general.vc_tta-controls-align-center .vc_tta-tab > a:after{
		
		bottom: 0;
		
	}
}

.vc_tta-container {
	margin-bottom: 0;
}

/* fix grey outline */
.vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title > a,
.vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title > a {
	color:inherit!important;
}
.vc_tta.vc_general:not(.vc_tta-style-theme) .vc_tta-panel-body {
	padding:26px!important;
}

/* END TABS
================================================== */



/* BUTTONS
================================================== */

.vc_btn3-container {
	margin-bottom: 0!important;
}


/* PROGRESS BARS
================================================== */
.neko-container .vc_progress_bar .vc_single_bar {
	height:10px;
	box-shadow: none;
	margin-top: 52px;
	border-radius: 0;
	background-color:rgba(212, 212, 212, 0.5);
	position: relative;
}

.neko-container .vc_progress_bar .vc_single_bar .vc_bar {
	border-radius: 0;
	height:100%;
}
.neko-container .vc_progress_bar .vc_single_bar .vc_label {
	position: absolute;
	top: -40px;
	left: 0px;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0;
}
.neko-container .vc_progress_bar .vc_single_bar.bar_grey .vc_bar {
	background-color: #e0e0e0;
}


.neko-container .vc_progress_bar .vc_single_bar.bar_blue .vc_label,
.neko-container .vc_progress_bar .vc_single_bar.bar_turquoise .vc_label,
.neko-container .vc_progress_bar .vc_single_bar.bar_green .vc_label,
.neko-container .vc_progress_bar .vc_single_bar.bar_orange .vc_label,
.neko-container .vc_progress_bar .vc_single_bar.bar_red .vc_label,
.neko-container .vc_progress_bar .vc_single_bar.bar_black .vc_label
{
	color:inherit;
	text-shadow:none;
}

/* END PROGRESS BARS
================================================== */



/* ACCORDION BARS
================================================== */

.vc_tta-style-theme.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
	left:0;
}
/* END ACCORDION BARS
================================================== */


/* CTA BOX
================================================== */

/* fix black color */
.neko-container .vc_general.vc_cta3.vc_cta3-color-black.vc_cta3-style-flat {
	background-color:#000;
	color:#fff;
}
.neko-container .vc_general.vc_cta3 h2, .neko-container .vc_general.vc_cta3 h4 {
	text-transform: uppercase;
}
.neko-container .vc_general.vc_cta3.vc_cta3-style-custom h2 {
	text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.neko-container .vc_general.vc_cta3.vc_cta3-style-custom .vc_general.vc_btn3:hover {
	background-color: #222;
	color:white;
}
.neko-container .vc_general.vc_cta3.vc_cta3-style-custom {
	border:none;
}

.neko-container .vc_general.vc_cta3 {
	border:none;
	padding:72px;
}
/* END CTA BOX
================================================== */




/* POST SLIDER
================================================== */
.neko-container .wpb_flexslider.flexslider{
	box-shadow: none;
}
.neko-container .wpb_flexslider.flexslider .flex-direction-nav a {
	color:white;
}
.neko-container .wpb_gallery .wpb_flexslider .flex-control-nav {
	bottom: -55px;
}
/* END POST SLIDER
================================================== */




/* Button
================================================== */

.neko-container .vc_btn3.vc_btn3-style-custom {
	background-image:none;
	text-transform: uppercase;
}
.vc_btn3.vc_btn3-block {
	text-align: center;
}

/* End Button
================================================== */




/* Charts
================================================== */

.neko-container .vc_chart .vc_chart-legend span {
	border-radius: 0;
	width: 30px;
}

/* End Charts
================================================== */
/* Posts grid
================================================== */

.vc_gitem_row .vc_gitem-col {
	padding:26px;
}

/* end Posts grid
================================================== */

/* Miscelaneous
================================================== */
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
   margin-bottom: 26px; 
}
.wpb_revslider_element.wpb_content_element {
	margin-bottom:0;
}
/* #content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .vc_message_box > p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
margin-bottom: 26px;
} */

/*.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
	padding-top: 0;
}*/
/* End Miscelaneous
================================================== */
